@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wallpoet&display=swap");
/*  */
body {
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
}
button {
  flex: 1;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-size: 1.1rem;
}
input {
  height: 2rem;
  padding: 0.1rem;
}
input:focus {
  outline: none;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
}
/*  */
.upper-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .quotes-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    label {
      cursor: pointer;
    }
    input {
      cursor: pointer;
    }
  }
  .upper-section__quotes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2%;
    /* flex: 4; */
    cursor: pointer;
    .upper-section__quotes-p:hover {
      transform: scale(1.3);
      transition: all 0.2s ease-in-out;
    }
    input:focus {
      height: 100%;
      width: 30vw;
    }
  }
  .temperature {
    cursor: default;
  }
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    margin-bottom: 0.5rem;
    cursor: default;
    border-bottom: 2px solid white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
  h1:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
  }
  .middle-section__name-input {
    display: none;
    /* opacity: 0; */
  }
  h2 {
    cursor: pointer;
  }
  h2:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
  }
  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
  }
  h3:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
  }
  .middle-section__main-focus-input {
    display: none;
    /* opacity: 0; */
  }
}

#main-focus-input {
  width: 20rem;
}

.lower-section {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: flex-end;
  button {
    /* max-width works but width only doesn't */
    max-width: 20rem;
    background-color: rgb(97, 97, 218);
  }
}

.todos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 85vh;
  min-width: 30rem;
  max-width: 30rem;
  margin: 3rem 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient(to bottom, #aaaaaa, #9c9c9c); */
  /* border: 2px solid white; */
  ul {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    gap: 1rem;
    width: 100%;
    overflow-y: auto;
    li {
      display: flex;
      border-bottom: 1px solid white;
      padding-bottom: 0.5rem;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      width: 100%;
      color: #ffffff;
      p {
      }
      button {
        background-color: rgb(214, 113, 113);
        max-width: 5rem;
      }
    }
  }
  input {
    height: 5%;
    width: 100%;
    border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    font-size: 1.5rem;
    padding: 0.3rem;
    border: none;
  }
  animation: appear 0.3s ease-in-out forwards;
}

.todos-section::before {
  z-index: -1;
  opacity: 0.15;
  position: absolute;
  content: "";
  background-color: rgb(206, 206, 206);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.image-background {
  position: absolute;
  top: 0%;
  left: 0%;
  background: center / cover no-repeat;
  height: 100vh;
  width: 100vw;
  background-color: rgb(184, 184, 184);
  background-blend-mode: multiply;
  z-index: -1;
}
/* Utils */
.display-none {
  /* visibility: hidden; */
  display: none;
}
.display-block {
  /* visibility: visible; */
  display: flex;
}

/* Animations */
@keyframes appear {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 85vh;
    opacity: 1;
  }
}

/* Media Query */

@media screen and (max-width: 1280px) {
  .upper-section {
    flex-direction: column;
    align-items: center;
    p {
      text-align: center;
    }
  }
  .lower-section {
    justify-content: center;
  }
  .todos-section {
    left: 45%;
    transform: translate(-50%, 0%);
    min-width: 25rem;
    max-width: 25rem;
  }
}
